{% extends "base.jinja" %} {% block informacion %}
<div class="row bg-white" style="display: flex; justify-content: center">
  <div class="bg-light text-center" style="width: 60%">
    <p>Token incorrecta   u.u </p>
  </div>
</div>
{% endblock %} {% block titulo%}Error 😭{% endblock%}