{% extends "base.jinja" %} {% block informacion %}
<div class="row bg-white" style="display: flex; justify-content: center">
  <div class="bg-light text-center" style="width: 60%">
    <p style="color: dimgray;">
      Hola, <code style="color: blue;" id="correo">{{ correo }}</code>. Cambia tu contraseña
    </p>
    <form id="form-pwd">
      <div class="mb-3">
        <label for="pwd1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="pwd1" />
      </div>
      <div class="mb-3">
        <label for="pwd2" class="form-label">Repita la contraseña</label>
        <input type="password" class="form-control" id="pwd2" />
      </div>
      <button type="button" class="btn btn-info" id="btn-enviar">
        Cambiar Contraseña
      </button>
    </form>
  </div>
</div>
<script src="{{ url_for('static', filename='change_password.js') }}"></script>
{% endblock%} {%block titulo %} Cambiar Contraseña 🔑 {% endblock %}